# exclude following files
*~
*.bak-mo
*.exe
*.exp
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
dsmodel*
dymosim*
.libs
.deps
*.la
libtool
install-sh
depcomp
configure
ltmain.sh
m4
missing
config.*
*.m4
autom4te.cache
*.lo
.dirstamp
*.o
*.mat
